page-subscriptions {

	.content-home {
    	background-color: #333;
    	color: #FFFFFF;

    	.ion-list {
    		background-color: #333;

    		.ion-item {
    			background-color: #333; 
    		}
    	}
    }

    .black-background {
    	background-color: #333;
    }

    .ion-option {
        color: #85FF00;
    }

    .list-color {
        color: #FFFFFF;
    }

    ion-icon {
        font-size: 128px;
    }    
}
