<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-blufi" version="0.0.1">

  <name>Cordova Plugin BluFi</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/plugin.js" target="js/plugin.js"/>
   
  <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>
  <preference name="UseSwiftLanguageVersion" value="4" />


  <js-module src="www/plugin.js" name="gatt">
    <clobbers target="cordova.plugins.blufi" />
  </js-module>

  <platform name="android">
   
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Gatt">
        <param name="android-package" value="za.co.clearcell.blufi.Gatt"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
       <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
       <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    </config-file>

    <source-file src="src/android/Configure.java" target-dir="java/za/co/clearcell/blufi"/>
    <source-file src="src/android/Constants.java" target-dir="java/za/co/clearcell/blufi"/>
    <source-file src="src/android/Gatt.java" target-dir="java/za/co/clearcell/blufi"/>
    <source-file src="src/android/Permissions.java" target-dir="java/za/co/clearcell/blufi"/>
    <source-file src="src/android/Response.java" target-dir="java/za/co/clearcell/blufi"/>
    <source-file src="src/android/Search.java" target-dir="java/za/co/clearcell/blufi"/>
    <source-file src="src/android/SearchResultEvent.java" target-dir="java/za/co/clearcell/blufi"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <resource-file src="lib/android/apptools-release.aar" target="libs/apptools-release.aar" />
    <resource-file src="lib/android/blufilibrary-release.aar" target="libs/blufilibrary-release.aar" />

  </platform>

  <platform name="ios">
    <preference name="UseSwiftLanguageVersion" value="4" />
  	<config-file target="config.xml" parent="/*">
		<feature name="Gatt">
		 	<param name="ios-package" value="Gatt" />
		</feature>
		</config-file> 
    <framework src="AwaitKit"  type="podspec" spec="5.0.0" />
    <framework src="BigInt"  type="podspec" spec="3.1" />
    <framework src="CryptoSwift"  type="podspec" spec="0.11.0" />
		<source-file src="src/ios/Gatt.swift" />
    <source-file src="src/ios/BluFiManager.swift" />
		<source-file src="src/ios/BluFiParameter.swift" />
		<source-file src="src/ios/DHKeyExchange.swift" />
  </platform>

</plugin>
