page-addstation {

	.content-home {
    	background-color: #333;
    	color: #FFFFFF;

    	.ion-list {
    		background-color: #333; 

    		.ion-item {
    			background-color: #333;
    		}
    	}
    }

    .black-background {
    	background-color: #333;
    }

    ion-spinner * {
        width: 75px;
        height: 75px;
        stroke: #FFF;
        fill: #FFF;
    }
}
